/*specification*/
html {
    font-family: Geometria, Arial, sans-serif;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

p,
a,
span {
    color: #000000;
}

p {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.screen {
    background-color: #f9f5f4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Geometria, Arial, sans-serif;
}

.screen_height {
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.fas {
    font-family: 'FontAwesome', Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
}

.text-gradient_top {
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*welcome-screen*/
.header_main {
    margin-bottom: 21px;
}

.nav__item,
.screen__title,
.screen__phone {
    font-size: 12px;
    font-family: Geometria, Arial, sans-serif;
    line-height: 12px;
}

.screen__title li {
    position: relative;
    left: 10px;
}

.screen__title::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #f78e6a;
    position: absolute;
    top: 4px;
    left: 13px;
}

.screen__phone,
.socials {
    font-family: Montserrat, Arial, sans-serif;
}

.screen__phone:hover {
    color: #f78e6a;
}

.nav_position-absolute {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 0;
}

.nav__burger {
    position: absolute;
    left: 15px;
}

.nav__menu {
    padding: 0;
}

.nav__item,
.nav__menu {
    margin-bottom: 16px;
    margin-left: 36px;
}

.nav__item:hover .nav__link {
    color: #f78e6a;
    outline: none;
}

.nav__link_active {
    color: #f78e6a;
}

.wrapper__yogi-person {
    display: table;
}

.yogi-person {
    display: table-cell;
    height: calc(100vh - 152px);
    width: auto;
}

.title {
    margin-bottom: 65px;
}

.title__description, .title__school, .pager {
    color: #f78e6a;
    background: linear-gradient(to bottom, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title__description {
    font-size: 17px;
    writing-mode: vertical-lr;
    position: absolute;
    margin: 0;
    top: 42px;
    transform: rotate(180deg);
    line-height: 1;
    left: -10px;
}

.title__school {
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 135px;
    font-family: "Geometria-Medium", Arial, sans-serif;
    line-height: 157px;
}

.invitation__info {
    font-size: 14px;
}

.invitation__title::before,
.next-page__title::after {
    color: #fff;
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    border-radius: 100%;
    text-align: center;
}

.invitation__title::before {
    content: "+";
    width: 43px;
    height: 43px;
    color: #fff;
    font-size: 32px;
    line-height: 38px;
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    border-radius: 100%;
    position: absolute;
    left: -45px;
}

.invitation__info > .invitation__title:hover::before,
.next-page > .next-page__title:hover::after {
    background: #ffffff;
    color: #f78e6a;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.pager-current,
.pager-last {
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f78e6a;
    line-height: 24px;
    font-family: Geometria-Light, Arial, sans-serif;
}

.pager-current {
    font-size: 48px;
}

.pager-last {
    font-size: 22px;
    letter-spacing: 2px;
}

.socials,
.next-page {
    line-height: 24px;
}

.social__link {
    margin-right: 10px;
    font-size: 8px;
}

.social__link:hover {
    color: #f78e6a;
}

.next-page__title {
    font-size: 11px;
}

.next-page__title::after,
.btn-small,
.contact__map::before,
.contact__review::before {
    content: '\25bc';
    font-size: 8px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 5px;
}


/*classes-screen*/
.switcher {
    position: relative;
}

.switcher__item {
    font-size: 12px;
    line-height: 28px;
    color: #666666;
}

.switcher__item_active {
    color: #000000;
    font-weight: 700;
}

.switcher__item:first-child::before,
.info__title {
    color: #f78e6a;
}

.switcher__link:hover {
    color: #f78e6a;
}

.info,
.switcher-wrapper {
    position: relative;
    top: 75px;
}

.switcher__item:first-child::before {
    content: 'Yoga —';
    position: absolute;
    left: -51px;
}

.info__title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10px;
}

.info__subtitle {
    margin-bottom: 30px;
}

.info__description {
    font-size: 12px;
    line-height: 23px;
}

.info__description:first-child {
    margin-bottom: 18px;
}

.info__description:last-child {
    margin-bottom: 16px;
}

.button__sign-in,
.button__item {
    color: #ffffff;
    line-height: 11px;
}

.button__sign-in {
    font-size: 11px;
    padding: 15px 35px 15px 55px;
    border-radius: 21px;
    background-color: #f78e6a;
    position: relative;
    border: none;
}

.button__item {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    padding: 15px;
    background: linear-gradient(to right, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
}

.button__sign-in:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 11px 11px 50px 0 rgba(0, 0, 0, 0.1);
    color: rgba(252, 102, 162, 1);
}


/*trial-screen*/
.discount,
.registry {
    font-family: Geometria-Light, Arial, sans-serif;
}

.registry-input-group {
    position: relative;
    margin-bottom: 30px;
}

.yogi-person_small {
    height: calc(100vh - 250px);
}

.discount__details {
    font-size: 33px;
    line-height: 38px;
    margin-bottom: 27px;
}

.discount__amount {
    font-size: 55px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
}

.discount__intro {
    font-size: 13px;
    margin-bottom: 30px;
}

input[type="text"],
input[type="tel"] {
    font-size: 11px;
    width: 300px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #c9c4c3;
    padding: 12px 0;
    margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    border-bottom: 1px solid #000000;
    color: #000000;
    outline: none;
}

input[type="tel"] {
    margin-bottom: 30px;
}

.discount__agreement {
    font-size: 11px;
}

.alert__notification {
    position: absolute;
}

.alert__thanks {
    font-size: 52px;
}

.alert__details {
    font-size: 13px;
}

.switcher__item_trainer:first-child::before {
    content: 'Trainer —';
    left: -61px;
}

.info__title_black {
    color: #000000;
}

/*.yogi-person_bgc::after { !*TODO*!*/
/*    content: "";*
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: url("../img/ellipse.png") no-repeat;*/
/*}*/

/*subscription-screen*/
.prices__list {
    margin-bottom: 30px;
}

.price__wrapper {
    margin-right: 3px;
}

.price__card {
    width: 43%;
    padding: 26px 10px 26px 25px;
    display: flex;
    justify-content: space-between;
    margin: 1px;
    background-color: #ffffff;
}

.price__title,
.price__item {
    font-size: 12px;
    font-family: Geometria-Light, Arial, sans-serif;
}

.price {
    font-size: 16px;
    font-family: Geometria-Bold, Arial, sans-serif;
    color: #f78e6a;
}

.price__button {
    border-radius: 100%;
    position: static;
    padding: 9px 9px;
    align-self: center;
    background: #f9f5f4;
}

.price__button:hover,
.price__button_active {
    background: linear-gradient(to right, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
}

.schedule__table {
    border-collapse: separate;
    border-spacing: 1px;
}

.schedule__title,
.schedule__title_bold {
    font-size: 10px;
    font-family: Geometria-Light, Arial, sans-serif;
    background-color: #fff;
    color: #000000;
    line-height: 11px;
    padding: 20px 10px;
    max-width: 133px; /*TODO*/
    text-align: center;
}

.schedule__title_bold {
    font-family: Geometria-Bold, Arial, sans-serif;
    color: #f78e6a;
}

.schedule__title_download {
    display: flex;
    align-items: center;
    text-align: left;
}

.schedule__title_download:hover {
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
}

.schedule__title_download:hover .schedule__text {
    color: #ffffff;
}

.schedule__title_download:hover .schedule__download {
    background: #ffffff;
}

.schedule__title_download:hover .fa-arrow-down {
    color: rgba(247, 141, 106, 1);
}

.schedule__download {
    border-radius: 100%;
    margin-left: 0;
    margin-right: 15px;
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
}

.switcher__item_client:first-child::before {
    content: 'Clients —';
    left: -61px;
}

.clients-screen .info__title {
    font-size: 20px;
    line-height: 26px;
}

.clients-screen .info__subtitle {
    margin-bottom: 0;
    font-size: 12px;
}

/*contacts-screen*/
.google-map {
    width: 600px;
    height: 450px;
}

.contact_small,
.contact__map,
.contact__review {
    font-size: 12px;
}

.contact__address {
    font-size: 14px;
    margin-bottom: 10px;
}

.contact__map::before,
.contact__review::before {
    border-radius: 100%;
    background: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
    font-size: 12px;
    margin-left: 0;
    margin-right: 5px;
}

.contact__map::before {
    content: '\f041';
    font-family: FontAwesome;
}

.contact__review::before {
    content: '\f003';
    font-family: FontAwesome;
}

.contact__map:hover,
.contact__review:hover {
    color: #f78e6a;
}