/*welcome-screen*/
.nav__item,
.screen__title,
.screen__phone {
  font-size: 12px;
  font-family: Geometria, Arial, sans-serif;
  line-height: $line-height;
}

.title__description,
.title__school,
.pager {
  color: $main-color;
  @include text-gradient_top;
}

.title__description {
  font-size: 17px;
  writing-mode: vertical-lr;
  position: absolute;
  margin: 0;
  top: 24px;
  transform: rotate(180deg);
  line-height: $line-height;
  left: 13px;
}

.title__school {
  @include text-gradient_top;
  font-size: 135px;
  font-family: "Geometria-Medium", Arial, sans-serif;
  line-height: $line-height;
  position: relative;
  left: -10px;
}

.invitation__title {
  font-size: 14px;
}

.invitation__title::before,
.next-page__title::after {
  @include button_small();
}

.invitation__title {
  &::before {
    content: "+";
    width: 43px;
    height: 43px;
    font-size: 32px;
    line-height: 42px;
    position: absolute;
    left: -45px;
    font-family: Geometria, Arial, sans-serif;
  }
}

.invitation__info > .invitation__title:hover::before,
.next-page > .next-page__title:hover::after {
  @include button_main_hover;
}

.screen__title {
  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: $main-color;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

.pager-current,
.pager-last {
  @include text-gradient_top();
  color: $main-color;
  line-height: 42px;
  font-family: Geometria-Light, Arial, sans-serif;
}

.pager {
  &-current {
    font-size: 48px;
  }

  &-last {
    font-size: 22px;
  }
}

.screen__phone,
.socials {
  font-family: Montserrat, Arial, sans-serif;
}

.screen__phone {
  &:hover {
    color: $main-color;
  }
}

.socials,
.next-page {
  line-height: 24px;
}

.social__link {
  margin-right: 10px;
  font-size: 8px;

  &:hover {
    color: $main-color;
  }
}

.next-page__title {
  font-size: 11px;
}

.next-page__title::after,
  //.schedule__download,
.contact__map::before,
.contact__review::before {
  @include button_main();
  font-size: 8px;
  margin-left: 5px;
}

.next-page__title::after {
  content: '\f0d7';
  font-size: 15px;
}

.contacts-screen .next-page__title::after {
  content: '\f0d8';
  line-height: 20px;
  font-size: 15px;
}

/*classes-screen*/
.info {
  top: 75px;
  position: relative;
}

.classes-screen .info {
  top: 40px;
}

.switcher {
  position: relative;
  top: 75px;
  left: 100px;
}

.switcher__item {
  font-size: 12px;
  line-height: 28px;
  color: #666666;

  &_active {
    color: $text-color;
    font-weight: 700;
  }
}

.switcher__item_active::before,
.switcher__link:hover,
.info__title {
  color: $main-color;
}

.switcher__item_active::before {
  content: 'Yoga —';
  position: absolute;
  left: -51px;
}

.switcher__item_trainer.switcher__item_active::before {
  content: 'Trainer —';
  left: -61px;
}

.switcher__item_client.switcher__item_active::before {
  content: 'Clients —';
  left: -61px;
}

.info__title {
  font-size: 34px;
  line-height: $line-height;
  margin-bottom: 10px;
}

.info__subtitle {
  margin-bottom: 30px;
}

.info__description {
  font-size: 12px;
  line-height: 23px;

  &:first-child {
    margin-bottom: 18px;
  }

  &:last-child {
    margin-bottom: 16px;
  }
}

.button__sign-in,
.button__item {
  color: $white-color;
  line-height: 11px;
}

a.button__sign-in {
  padding-top: 13px;
  margin-top: 15px;
  display: inline-block;
}

.button__sign-in {
  font-size: 11px;
  padding: 15px 35px 15px 55px;
  border-radius: 21px;
  background-color: $main-color;
  position: relative;
  border: none;
  margin-top: 15px;
}

.button__item {
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  padding: 14px;
  background-image: $gradient-right;
}

.button__sign-in:hover {
  color: rgba(252, 102, 162, 1);
  @include button_main_hover();
}

/*trial-screen*/
.clients-screen .yogi-person,
.trial-screen .yogi-person {
  max-height: 480px;
}

.discount,
.registry,
.response-form {
  font-family: Geometria-Light, Arial, sans-serif;
}

.registry-input-group {
  position: relative;
  margin-bottom: 20px;
}

.discount__details {
  font-size: 33px;
  line-height: 35px;
  margin-bottom: 27px;
}

.discount__amount {
  font-size: 55px;
  @include text-gradient_right();
}

.discount__intro {
  font-size: 13px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="tel"],
textarea {
  font-size: 11px;
  width: 300px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c9c4c3;
  padding: 12px 0;
  margin-bottom: 13px;

  &:focus {
    border-bottom: 1px solid #000000;
    color: $text-color;
  }
}

.agreement {
  font-size: 11px;
}

.alert__thanks {
  font-size: 52px;
  @include text-gradient_right;
}

.alert__details {
  font-size: 13px;
}

/*trainers screen*/
.trainers-screen .yogi-person {
  right: 55px;
  position: relative;
}

.info__title {
  &_black {
    color: $text-color;
  }
}

/*subscription-screen*/
.prices__list {
  margin-bottom: 30px;
}

.prices__list input[type="radio"] {
  display: none;

  &:checked ~ .price__button {
    background-image: $gradient-right;
    color: $white-color
  }
}

.price__card {
  width: 43%;
  padding: 26px 10px 26px 25px;
  display: flex;
  justify-content: space-between;
  margin: 1px;
  background-color: $white-color;
}

.price__title,
.price__item {
  font-size: 12px;
  font-family: Geometria-Light, Arial, sans-serif;
}

.price {
  font-size: 16px;
  font-family: Geometria-Bold, Arial, sans-serif;
  color: #f78e6a;
}

.price__button {
  border-radius: 100%;
  padding: 9px;
  align-self: center;
  background-color: #f9f5f4;
  font-size: 16px;
  left: 0;
  bottom: 0;
  line-height: 11px;
  color: #c9c4c3;
}

/*schedule screen*/
.schedule__table {
  border-collapse: separate;
  border-spacing: 1px;
}

th,
td {
  font-size: 10px;
  font-family: Geometria-Light, Arial, sans-serif;
  background-color: $white-color;
  color: $text-color;
  line-height: 11px;
  padding: 20px 10px;
  max-width: 133px;
  text-align: center;
}

.schedule__title {

  &_bold {
    font-family: Geometria-Bold, Arial, sans-serif;
    color: $main-color;
  }

  &_download:hover {
    background-image: $gradient-top;
  }

  &_download:hover .schedule__download::before {
    background: $white-color;
    color: $main-color;
  }

  &_download:hover .schedule__download {
    color: $white-color;
  }
}

.schedule__download {
  color: $text-color;
  display: flex;
  text-align: left;

  &::before {
    content: '\f063';
    @include button_small();
    padding: 5px;
    margin-right: 15px;
  }
}

/*clients screen*/
.clients-screen .yogi-person {
  position: absolute;
  right: 10px;
  top: 40px;
}

.clients-screen .info__title {
  font-size: 20px;
  line-height: 26px;
}

.clients-screen .info__subtitle {
  margin-bottom: 0;
  font-size: 12px;
}

/*contacts-screen*/
.google-map {
  width: 600px;
  height: 450px;
}

.contact_small,
.contact__map,
.contact__review {
  font-size: 12px;
}

.contact__address {
  font-size: 14px;
  margin-bottom: 15px;
}

.contact__map::before,
.contact__review::before {
  border-radius: 100%;
  font-size: 12px;
  margin-left: 0;
  margin-right: 5px;
  font-family: FontAwesome, Arial, sans-serif;
  padding: 6px;
}

.contact__map::before {
  content: '\f041';
  padding: 6px 8px;
}

.contact__review::before {
  content: '\f003';
}

.contact__map:hover,
.contact__review:hover {
  color: $main-color;
}

.response {
  font-size: 30px;
  line-height: 1.1;
}

.close-form {
  @include button_main_hover;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 20px;
  transform: rotate(45deg);
  position: absolute;
  right: -28px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .pager-current {
    font-size: 40px;
  }
  .pager-last {
    font-size: 18px;
  }
}