@font-face {
  font-family: 'Geometria';
  src: url('#{$font-path}/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('#{$font-path}/Geometria/Geometria.woff') format('woff'),
  url('#{$font-path}/Geometria/Geometria.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Light';
  src: url('#{$font-path}/Geometria/Geometria-Light.eot');
  src: local('Geometria Light'), local('Geometria-Light'),
  url('#{$font-path}/Geometria/Geometria-Light.woff') format('woff'),
  url('#{$font-path}/Geometria/Geometria-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('#{$font-path}/Geometria/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('#{$font-path}/Geometria/Geometria-Medium.woff') format('woff'),
  url('#{$font-path}/Geometria/Geometria-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('#{$font-path}/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('#{$font-path}/Geometria/Geometria-Bold.woff') format('woff'),
  url('#{$font-path}/Geometria/Geometria-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}


