@media (min-width: 1200px) {
  .pager-current {
    margin-bottom: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pager-current {
    font-size: 38px;
  }
  .pager-last {
    font-size: 18px;
    line-height: 33px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar__menu,
  .navbar-nav li,
  .screen__phone {
    font-size: 16px;
  }

  .navbar-nav__wrapper {
    position: relative;
    top: -16px;
  }

  .title__school {
    letter-spacing: -6px;
  }

  .lotos {
    //position: relative;
    //top: -12px;
  }

  .wrapper__yogi-person {
    transform: scaleX(-1);
  }

  .invitation__title {
    font-size: 18px;

    &::before {
      width: 45px;
      height: 45px;
      font-size: 35px;
      line-height: 44px;
      top: 4px;
    }
  }

  .next-page__title,
  .socials {
    line-height: 1;
  }

  .social__link {
    font-size: 11px;
  }

  .navbar__menu {
    font-size: 0;
  }

  .next-page__title {
    font-size: 0;
  }

  .pager-current {
    font-size: 40px;
  }
  .pager-last {
    font-size: 18px;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .next-page__title {
    font-size: 0;
  }
  .wrapper__yogi-person {
    //background-position: top;
    height: calc(100vh - 252px);
  }
}

@media (max-width: 575px) {
  .next-page__title {
    font-size: 0;
  }
  .lotos {
    min-width: 33px;
  }
}

@media (max-width: 319px) {

}
