@media (min-width: 1200px) {
  .pager-current {
    margin-bottom: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pager-current {
    font-size: 38px;
  }
  .pager-last {
    font-size: 18px;
    line-height: 33px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .nav__item,
  .screen__phone {
    font-size: 16px;
  }
  .lotos {
    width: 100%;
    position: absolute;
  }

  .title__school {
    font-size: 100px;
  }

  .wrapper__yogi-person {
    transform: scaleX(-1);
  }
}