$main-color: #f78e6a;
$complementary-color: #f9f5f4;
$text-color: #000000;
$white-color: #ffffff;


$gradient-top: linear-gradient(to top, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
$gradient-right: linear-gradient(to right, rgba(247, 141, 106, 1) 0%, rgba(252, 102, 162, 1) 100%);
$line-height: 1;

$font-path: '../fonts';