.col-md-2
    ul.socials.d-flex
        li: a.social__link.vk(href="#") VK
        li: a.social__link.fb(href="#") FB
        li: a.social__link.inst(href="#") INST
.col-md-2.offset-md-8.text-right
    block next-screen