footer#footer
    .container
        .row
            .col-md-2
                ul.socials.d-flex
                    li: a.social__link.vk(href="#") VK
                    li: a.social__link.fb(href="#") FB
                    li: a.social__link.inst(href="#") INST
            .col-md-3.offset-md-7.text-right
                block next-screen