footer#footer
    .container
        .row.align-items-end
            .col-lg-2.offset-lg-0.order-lg-1.col-md-2.offset-md-4.order-md-2.col-3.offset-3.order-2
                ul.socials.d-flex
                    li: a.social__link.vk(href="#") VK
                    li: a.social__link.fb(href="#") FB
                    li: a.social__link.inst(href="#") INST
            .col-lg-3.offset-lg-7.order-lg-2.col-md-1.order-md-1.offset-md-0.col-1.offset-3.order-3.text-right
                a.next-page(href="#firstPage")
                    p.next-page__title Направления и классы
            .d-lg-none.col-md-2.offset-md-3.order-md-4.col-2.order-1
                .pager.text-right
                    p.pager-current 01
                    p.pager-last - 08