header
    .header-wrapper
        .header-wrapper-inner
                nav.navbar.navbar_position-absolute
                    svg(class="nav__burger" width="16px" height="13px")
                        line(x1="0" y1="1" x2="2" y2="1" stroke="#000000" fill="transparent" stroke-width="1")
                        line(x1="4" y1="1" x2="16" y2="1" stroke="#f78e6a" fill="transparent" stroke-width="1")
                        line(x1="0" y1="6" x2="2" y2="6" stroke="#000000" fill="transparent" stroke-width="1")
                        line(x1="4" y1="6" x2="16" y2="6" stroke="#f78e6a" fill="transparent" stroke-width="1")
                        line(x1="0" y1="12" x2="2" y2="12" stroke="#000000" fill="transparent" stroke-width="1")
                        line(x1="4" y1="12" x2="13" y2="12" stroke="#f78e6a" fill="transparent" stroke-width="1")
                    button.navbar-toggler.nav__item(data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="true") Меню
                    .collapse.navbar-collapse#navbarCollapse
                        ul.navbar-nav
                            li.nav__item: a.nav__link.nav__link_active(href="#firstPage") Главная
                            li.nav__item: a.nav__link(href="#secondPage") Направления
                            li.nav__item: a.nav__link(href="#thirdPage") Скидки
                            li.nav__item: a.nav__link(href="#fourthPage") Преподаватели
                            li.nav__item: a.nav__link(href="#fifthPage") Абонементы
                            li.nav__item: a.nav__link(href="#sixthPage") Расписание
                            li.nav__item: a.nav__link(href="#seventhPage") Отзывы
                            li.nav__item: a.nav__link(href="#eighthPage") Контакты
                .header__phone.d-none
