extends includes/_demo.pug

block current-screen
    ul.screen__title
        li Добро пожаловать
         // - const screen__titles = ['Добро пожаловать', 'Направления и классы']
         // - for(i = 0; i <= screen__titles; i++) li #{i}

block next-screen
    a.next-page(href="#")
        p.next-page__title Направления и классы

block main-button
    button.button__sign-in
        span.button__item #{button_content}

