extends includes/_demo.pug

block current-screen
    ul.screen__title
        li Добро пожаловать

block next-screen
    a.next-page(href="#firstPage")
        p.next-page__title Направления и классы


