include config.pug
.screen_height
    .container
        include header.pug
        .main-content
            .row.align-items-center
                .col-md-1
                    img.lotos(src=path+"img/lotos.png" alt="lotos")